__pycache__/
.ipynb_checkpoints/
.venv_dataprep/
.venv/
.vscode/
*.zip
catboost_info/
input/*
!input/.gitkeep
output/*
!output/.gitkeep
!output/Análise Exploratória - Features Categóricas.html
!output/Análise Exploratória - Features Numéricas.html
!output/Análise Exploratória - Gráficos.zip
!output/Análise Exploratória - Projeto Final.twb
!output/Análise Exploratória - Treino - Churn x Não Churn.html